.navbar-brand{
  margin-left: 500px;
  font-size: 30px;
}

.quotesnauthors{
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 480px;
}

.fetchbtn{
  background-color: rgb(14, 134, 14);
  color: white;
  margin-left: 570px;
  margin-bottom: 20px;
}


